{% load feedback_tags %}
<h1>Profile</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Username: {{ user.username }}</p>
    <label>Location: <input type="text" name="location" value="{{ user.location }}"></label><br>
    <label>Availability: <input type="text" name="availability" value="{{ user.availability }}"></label><br>
    <label>Private Profile: <input type="checkbox" name="is_private" {% if user.is_private %}checked{% endif %}></label><br>
    <label>Profile Photo: <input type="file" name="photo"></label><br>
    {% if user.photo %}<img src="{{ user.photo.url }}" height="100"><br>{% endif %}
    <button type="submit">Update</button>
</form>

{% if user.photo and user.photo.url %}
    <img src="{{ user.photo.url }}" height="100" onerror="this.style.display='none'"><br>
{% endif %}

<a href="{% url 'home' %}">Home</a>

{% if user.feedbacks.all %}
    <h3>Average Rating: {{ user.feedbacks.all|length }} reviews</h3>
    <p>Average: {{ user.feedbacks.all|avg_rating|default:"0" }} stars</p>
    <ul>
        {% for feedback in user.feedbacks.all %}
            <li>{{ feedback.rating }} stars: {{ feedback.comment }}</li>
        {% endfor %}
    </ul>
{% endif %}